// For global styling

$theme-colors: (
  "secondary": #242424,
  "warning": #FDDC56,
  "dark": black
);

@import "bootstrap";

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Raleway";
  color: white;
  letter-spacing: 2px;
  min-height: 100%;
  font-size: 0.8rem;
}

h1, h2, h3, h4, h5, h6, p, div {
  line-height: 28px;
  font-weight: 300;
}
h1, h2, h3, h4, h5, h6, p {
  text-shadow: -1px 1px 2px black;
}

.btn-warning {
  background-color: #FDDC56 !important;
}

.montserrat {
  font-family: "Montserrat";
}

.raleway-light {
  font-weight: 100 !important;
}

.bold {
  font-weight: 600 !important;
}

.text-yellow {
  color: #FDDC56;
}

.nav-width {
  padding-left: 12%;
  padding-right: 12%;
}

.logo-size {
  width: 130px;
}

.heading {
  font-weight: 900 !important;
  font-size: 3.3rem;
  color: white;
  font-family: "Montserrat";
}

.background-img {
  background-size: 100%;
  background-repeat:no-repeat;
  background-image: url('../src/images/1 Wallpaper.jpg');
  background-attachment: fixed;
  padding-top: 150px;
  padding-bottom: 150px;
  border-bottom: 1px solid white;
}

.background-img-1 {
  background-size: 65%, 100%;
  background-repeat:no-repeat;
  background-position: 50% 80%, center top;
  background-image: url('../src/images/Arc warden snap vs.png'), url('../src/images/Compiled Wallpaper.jpg');
  background-color: black;
  padding-top: 2%;
  padding-bottom: 3%;
  border-bottom: 1px solid #FDDC56;
}

.background-img-2 {
  background-size: 100%;
  background-repeat:no-repeat;
  background-position: center top;
  background-image: url('../src/images/3 Wallpaper.jpg');
  padding-top: 40px;
  padding-bottom: 60px;
  border-bottom: 1px solid #FDDC56;
}

.btn-nocturnal {
  border-radius: 30px;
  font-size: 1rem;
  padding: 0.8rem 7rem;
  color: black;
  background-color: #FDDC56;
  font-family: "Montserrat";
}

.line-height-sm {
  line-height: 1 !important;
}

.line-height-md {
  line-height: 2 !important;
}

.text-glow-white {
  text-shadow: 0px 0px 5px #FDDC56;
}

.text-glow-yellow {
  text-shadow: -1px 1px 8px black, 0px 0px 10px #FDDC56, 0px 0px 15px #FDDC56, 0px 0px 20px #FDDC56;
  font-weight: 400 !important;
}
