/*flash*/
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
 }

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
 }

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
 }

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
 }
// Background for devise sign in and sign up page
#registration-background {
  background-image: url('../src/images/Registration');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

#login-background {
  background-image: url('../src/images/Sign in');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 92%;
}


.form-wrapper {
  margin-left: 10%;
}

// Form to underline instead of box
input[type="email"], input[type="password"], input[type="text"],
select.form-control {
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.form-wrapper {
  padding: 0 100px;
  background-color: rgba(0, 0, 0, 0.6);
}

.nocturnal-devise-logo {
  width: 100%;
}
