// All layout CSS: header, footer, body etc
li.hover-yellow a:hover {
  box-shadow: 0 -2px 0 #FDDC56 inset;
  color: #FDDC56 !important;
}

li.shadow-yellow a:hover {
  text-shadow: 0 0 3px #FDDC56;
}

.dropdown-item {
  font-size: 0.8rem;
}

.text-footer {
  color: darkgrey;
}
