#league-background-img {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../src/images/league-banner1.jpg");
  border-bottom: 1px solid #fddc56;
  padding-bottom: 100px;
  padding-top: 100px;
}

#league-detail-background {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../src/images/league-overview-p2-bg.jpg");
  border-bottom: 1px solid #fddc56;
}

#sequence-of-event-bg {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../src/images/League-Page-Overview-SoE-new.jpg");
  border-bottom: 1px solid #fddc56;
}

#league-lobby-settings {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../src/images/Lobby-Settings.jpg");
  border-bottom: 1px solid #fddc56;
  padding-bottom: 100px;
}

.gap {
  margin-bottom: 400px;
}

.prize-pool-size {
  font-size: 3rem;
}

.purchase-pass {
  font-size: 0.8rem;
}

.league-logo {
  width: 40%;
}

.subheader-height {
  position: fixed;
  top: 51px;
  z-index: 1030;
}

// Sequence of events page 3x3 grid row position
.events-row-1 {
  margin-top: 27%;
}

.events-row-2 {
  margin-top: 21%;
}

.events-row-3 {
  margin-top: 28%;
}

.soe-category-title-size {
  font-size: 15px;
}
