#league-background-img {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../src/images/league-banner1.jpg");
  border-bottom: 1px solid #fddc56;
  padding-bottom: 100px;
  padding-top: 100px;
}

#league-detail-background {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../src/images/league-overview-p2-bg.jpg");
  background-color: #04090F;
  border-bottom: 1px solid #fddc56;
}

#sequence-of-event-bg {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../src/images/League-Page-Overview-SoE-new.jpg");
  border-bottom: 1px solid #fddc56;
  padding: 4% 13.5%;
}

#league-lobby-settings {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../src/images/Lobby-Settings.jpg");
  background-position-y: calc(70% + 120px);
  border-bottom: 1px solid #fddc56;
  padding-bottom: 10%;
}

#brackets-bg {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../src/images/sequence-of-event.jpg");
  border-bottom: 1px solid #fddc56;
  padding-bottom: 75px;
  padding-top: 50px
}

// -----------------------------team detail page -----------------------------------------
#league-team-details-background-img {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../src/images/league-banner1.jpg");
  border-bottom: 1px solid #fddc56;
  padding-top: 40px;
}

.gap {
  margin-bottom: 400px;
}

.prize-pool-size {
  font-size: 3rem;
}

.purchase-pass {
  font-size: 0.8rem;
}

.league-logo {
  width: 35%;
}

.subheader-height {
  position: fixed;
  top: 60px;
  z-index: 1030;
}

// Sequence of events page 3x3 grid row position
.events-row-1 {
  margin-top: calc(36% - 144px);
}

.events-row-2 {
  margin-top: calc(36% - 145px);
}

.events-row-3 {
  margin-top: calc(37% - 85px);
}

.soe-category-title-size {
  font-size: 15px;
}

.league-head-font-weight {
  font-weight: 600 !important;
}

.horizontal-line-gradient {
  display: block;
  border: none;
  color: white;
  height: 1px;
  background: black;
  background: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    350,
    from(#fff),
    to(#000)
  );
}

.heroes-size {
  width: 100%;
}

.league-yellow {
  color: #fff6bd !important;
}

// ----------------------------- others -----------------------------------------
.user-circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 2px solid #fddc56;
}

.users-circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 2px solid black;
  margin-left: -16px;
  vertical-align: bottom;
  display: inline-block;
}

.users-count {
  position: relative;
  top: 9px;
  color: black;
  font-weight: bold;
}

//------------------------------League participants page --------------------------------
.filter-border-left-radius {
  border-radius: 20px 0 0 20px;
}

.filter-border-right-radius {
  border-radius: 0 20px 20px 0;
}

.empty-hero {
  border: 2px dashed lightgrey;
  border-radius: 20px;
  margin-left: 3.5%;
  margin-right: 3.5%;
  padding-top: 12%;
  padding-bottom: 12%;
  width: 100%;
  height: 100%;
}

.image-overlay {
  position: absolute;
  left: 35%;
  top: 20%;
  opacity: 1;
  width: 25%;
  height: 20%;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.name-overlay {
  position: absolute;
  left: 25%;
  top: 45%;
  opacity: 1;
  width: 25%;
  height: 20%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.glowing-border-for-current-user {
  border: 3px solid #fddc56;
  -moz-box-shadow: 0 0 10px #fff;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 
    0 0 10px #fff,
    0 0 30px 20px black;
}

.glowing-border-for-other-user {
  border: 3px solid white;
  -moz-box-shadow: 0 0 10px #fff;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 
    0 0 10px #fff,
    0 0 30px 20px black;
}
