ol {
  counter-reset: item;
  padding-left: 0px;
}

ol > li {
  display: block;
}

ol > li::before {
  content: counters(item, ".") " ";
  counter-increment: item;
}

.rules > ol > li,
.privacy > ol > li,
.terms h5 {
  font-size: 22px;
  font-weight: 700 !important;
  color: #fddc56;
  padding: 20px 0px;
}

.privacy ol ol > li {
  font-size: 16px;
  color: #fddc56;
  padding: 20px 0px;
  font-weight: 400 !important;
}

.terms ol > li {
  font-size: 16px;
  color: #fddc56;
  padding: 20px 0px;
  font-weight: 600 !important;
}

.legal span > span > ul ul {
  list-style-type: circle;
}

.legal ul ul li {
  padding-bottom: 15px;
}

.legal ul ul,
.legal span > span > ul > li {
  padding-bottom: 20px;
}

.legal ul li {
  padding-bottom: 40px;
}

.legal ol > span > ul {
  padding-left: 18px;
}

.legal h7 + p {
  padding-top: 20px;
}

.legal h7 {
  font-weight: 600 !important;
}

.legal p {
  line-height: 36px;
}

.rules ol ol {
  line-height: 60px;
}

.legal .credits-link > a {
  color: white;
  text-decoration: underline;
}
.legal .credits-link {
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 24px;
}

.sidenav {
  position: fixed;
  z-index: 1;
  text-align: right;
}

.sidenav a {
  color: white;
  text-decoration: none;
}

.credits-sidenav {
  top: 360px;
}
