#edit-authentication {
	background-image: url('../src/images/Registration');
  overflow: visible;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  padding: 5%
}

.edit-font-size {
	font-size: 15px;
}
